## Demand timeseries creation (Campus Garching)
#### by Konrad Sch√∂nleber
This notebook can be used to create generic demand time series for urbs simulations. It was designed for the Campus in Garching but might also be useful in other contexts.

In [135]:
%matplotlib inline
import pandas as pd
import numpy as np

First an empty pandas-dataframe "df" indexed with the hours of the year is created.

In [136]:
index = pd.date_range('1/1/2016', periods=8760, freq='H')
columns = ['Weekday', 'Row number', 'Elec_baseload', 'Elec_weekday', 'Elec_noise', 'Elec_total']
df = pd.DataFrame(index=index, columns=columns).fillna(0)

In [137]:
df.head(n=5)

,Weekday,Row number,Elec_baseload,Elec_weekday,Elec_noise,Elec_total
2016-01-01 00:00:00,0,0,0,0,0,0
2016-01-01 01:00:00,0,0,0,0,0,0
2016-01-01 02:00:00,0,0,0,0,0,0
2016-01-01 03:00:00,0,0,0,0,0,0
2016-01-01 04:00:00,0,0,0,0,0,0

The following two helper columns make life easier later. The column "Weekday" contains an integer coding for the weekdays from "Monday" == 0 to "Sunday" == 6.

In [138]:
df['Row number'] = np.linspace(0, 8759, 8760).T
df['Weekday'] = df.index.weekday

### Data generation
Now the datframe is filled with data. To keep this general and usable the data determinations are written as functions. All values here are given in MW.

In [139]:
df['Elec_baseload'] = 8.5

In [140]:
df['Elec_weekday'] = 0.5 * (1-np.sign(df['Weekday']-4.1)) * 2.2 * (-np.cos((2*np.pi)/24 * df['Row number']) + 1)

In [141]:
df['Elec_noise'] = np.random.normal(loc=0.0, scale=0.6, size=(8760 ,1))

In [142]:
df['Elec_total'] = df['Elec_baseload'] + df['Elec_weekday'] + df['Elec_noise']

In [143]:
df[1020:1040]

,Weekday,Row number,Elec_baseload,Elec_weekday,Elec_noise,Elec_total
2016-02-12 12:00:00,4,1020.0,8.5,4.400000,0.843572,13.743572
2016-02-12 13:00:00,4,1021.0,8.5,4.325037,1.203239,14.028275
2016-02-12 14:00:00,4,1022.0,8.5,4.105256,0.271327,12.876583
2016-02-12 15:00:00,4,1023.0,8.5,3.755635,0.516415,12.772050
2016-02-12 16:00:00,4,1024.0,8.5,3.300000,-0.517043,11.282957
2016-02-12 17:00:00,4,1025.0,8.5,2.769402,-0.112095,11.157307
2016-02-12 18:00:00,4,1026.0,8.5,2.200000,0.042378,10.742378
2016-02-12 19:00:00,4,1027.0,8.5,1.630598,-0.545787,9.584811
2016-02-12 20:00:00,4,1028.0,8.5,1.100000,0.914890,10.514890
2016-02-12 21:00:00,4,1029.0,8.5,0.644365,-0.352996,8.791369
2016-02-12 22:00:00,4,1030.0,8.5,0.294744,-0.204096,8.590648
2016-02-12 23:00:00,4,1031.0,8.5,0.074963,0.084487,8.659450
2016-02-13 00:00:00,5,1032.0,8.5,0.000000,0.238082,8.738082
2016-02-13 01:00:00,5,1033.0,8.5,0.000000,0.042447,8.542447
2016-02-13 02:00:00,5,1034.0,8.5,0.000000,-0.228028,8.271972
2016-02-13 03:00:00,5,1035.0,8.5,0.000000,-0.431356,8.068644
2016-02-13 04:00:00,5,1036.0,8.5,0.000000,-0.780026,7.719974
2016-02-13 05:00:00,5,1037.0,8.5,0.000000,-0.854925,7.645075
2016-02-13 06:00:00,5,1038.0,8.5,0.000000,0.708899,9.208899
2016-02-13 07:00:00,5,1039.0,8.5,0.000000,0.086071,8.586071

### Data export
As a last step the generic demand time series are exported into a file named "GenericDemand.xlsx" in the current folder.

In [144]:
with pd.ExcelWriter('GenericDemand.xlsx') as xls:
    df.to_excel(xls)